#root {
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: #2e2d2d;
  color: #fff;
}

.game {
  display: flex;
  flex-wrap: wrap;
}

@font-face {
  font-family: BungeeSpice-Regular;
  src: url('../public/Bungee_Spice/BungeeSpice-Regular.ttf');
}

h1 {
  font-family: BungeeSpice-Regular;
}
